{% extends "serviceindex.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}


<section class="Insuranceservice" id="Insuranceservice">
    <section class="header1">
        <h1>All Services for Your Vehicle</h1>
        <br>
        <h2> Insurance Service </h2>
    </section>

    <section class="service-packages">
        <div class="package">

            <h2><i class=" fa fa-heartbeat"></i> Insurance Claim</h2>

            <ul>
                <li><i class="fas fa-file-signature"></i>KD Autogarage Tie Up for Cashless Claims</li>
                <li><i class="fas fa-dollar-sign"></i> Low Claim Charges</li>
            </ul>
            <form method="post" action="{% url 'book_appointment' package='Insurance Claim' %}">
                {% csrf_token %}
                <button class="Package" type="submit">Book Appointment</button>
            </form>
        </div>

        <div class="package">
            <h2 ><i class=" fa fa-heartbeat"></i> Insurance Renewal</h2>
            <ul>
                <li><i class="fas fa-file-alt"></i> DOC Required for Renewal</li>
                <li><i class="fas fa-copy"></i> Existing Insurance Copy and RC Copy Claim</li>
                <li><i class="fas fa-file-invoice"></i> DOC Required • RC Original</li>
                <li><i class="fas fa-id-card"></i> Insurance Original</li>
                <li><i class="fas fa-id-badge"></i> Driving License Original</li>
                <li><i class="fas fa-pen"></i> Filled Claim Form Duly Signed by the Car Owner</li>
                <li><i class="fas fa-address-card"></i> Aadhaar and PAN Card Xerox</li>
            </ul>
            <form method="post" action="{% url 'book_appointment' package='Insurance Renewal' %}">
                {% csrf_token %}
                <button class="Package" type="submit">Book Appointment</button>
            </form>
        </div>
    </section>
</section>

<section>
    <div class="sendcontainer">
        <CENTER>
            <h2>HOW IT WORKS?</h2>
        </CENTER>
        <section class="how-it-works">

            <div class="step">
                <img src="{% static 'image/footericon/step1.jpg' %}" alt="Select Service">
                <p><strong>1. SELECT YOUR SERVICE</strong><br>You can login or checkout as a guest.</p>
            </div>
            <div class="step">
                <img src="{% static 'image/footericon/step2.jpg' %}" alt="Schedule Pickup">
                <p><strong>2. SCHEDULE YOUR PICKUP</strong><br>Choose the next best available time slot for pickup.</p>
            </div>
            <div class="step">
                <img src="{% static 'image/footericon/step3.jpg' %}" alt="Buy Service">
                <p><strong>3. BUY OUR SERVICE</strong><br>Pay online or offline & buy our service.</p>
            </div>
            <div class="step">
                <img src="{% static 'image/footericon/step4.jpg' %}" alt="Pick Up Car">
                <p><strong>4. PICK UP YOUR CAR</strong><br>We will take your car for repair.</p>
            </div>
        </section>
    </div>
</section>

<footer id="contact">
    <p>&copy; 2025 KD Automobiles. Designed with &hearts; by naran.</p>
    <p><a href="mailto:narandarank@gmail.com">Contact Us</a></p>
</footer>

{% endblock %}